{% if content.left or content.right %}
  <div{{ attributes }}>
    <div{{ row_attributes }}>
      {% if content.left %}
        <div{{ left_attributes }}>
          {{ content.left }}
        </div>
      {% endif %}
      {% if content.right %}
        <div{{ right_attributes }}>
          {{ content.right }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
