{% if label_hidden %}
    {% if multiple %}
        <div{{ attributes }}>
            {% for item in items %}
                <p{{ item.attributes }}>{{ item.content }}</p>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <p{{ attributes }}>{{ item.content }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <h1{{ attributes }}>
        <p{{ title_attributes }}>{{ label }}</p>
        {% if multiple %}
        <div>
            {% endif %}
            {% for item in items %}
                <p{{ item.attributes }}>{{ item.content }}</p>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </h1>
{% endif %}