<div{{ attributes.addClass('editorial--content', 'txt-content') }}>
  <div class="editorial-transparency-bar inner-content">
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted"><i class="icon-eye"></i></button>
        <p class="font-size-xs vert-offset-top-2">{{ 'Transparency and control'|t }}</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted"><i class="icon-map-mark"></i></button>
        <p class="font-size-xs vert-offset-top-2">{{ 'Responsible center use on site'|t }}</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted"><i class="icon-globus"></i></button>
        <p class="font-size-xs vert-offset-top-2">{{ 'In 99 countries'|t }}</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted"><i class="icon-ok-shield"></i></button>
        <p class="font-size-xs vert-offset-top-2">{{ 'Tested and awarded with DZI donation seal'|t }}</p>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
