{#
/**
 * @file child.html.twig
 * Default theme implementation to present Child data.
 *
 * This template is used when viewing Child pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *
 * @see template_preprocess_child()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('form-minimal-border') }}>
  {% if message_form.appearance.headline %}
    <div class="container vert-offset-sm-top-1">
      <div class="row">
        <div class="col-xs-12 text-center"><h1 class="font-size-l">{{ message_form.appearance.headline }}</h1>
        </div>
      </div>
    </div>
  {% endif %}

  {% if message_form.appearance.description %}
    <div class="container vert-offset-sm-bottom-1">
      <div class="row">
        <div class="col-xs-12 text-center"><p class="font-size-xs">{{ message_form.appearance.description }}</p>
        </div>
      </div>
    </div>
  {% endif %}

  {# Custom nav #}
  <div class="navbar-fixed-top main-nav-cont">
    <div class="offcanvas-container">
      <h2 class="font-size-super-small font-color-neutral no-margin">Haben Sie Fragen?</h2>
      <h2 class="font-size-xs font-color-highlighted no-margin">0800 - 0 10 20 22</h2>
    </div>
    <a href="/" style="display: inline-block; float: right;"><img class="brand-logo-sm img-responsive"
                                                                  src="/themes/worldvision/wovide/logo.jpg"
                                                                  alt=" | "></a>
  </div>

  {# Header text #}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center vert-offset-bottom-2">
            <h2 class="font-size-l">Jetzt Pate werden <span class="font-color-neutral"><span class="font-light">und einem Kind in Not</span> helfen.</span>
            </h2>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  {# Info bar#}
  <div class="form-info-bar">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <ul class="list-unstyled">
            <li><i class="font-color-highlighted icon-no-contract-bond"></i></li>
            <li class="font-size-xxs">Jederzeit flexibel kündbar</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <ul class="list-unstyled">
            <li><i class="font-color-highlighted icon-calculator"></i></li>
            <li class="font-size-xxs">Steuerlich absetzbare Spende</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <ul class="list-unstyled">
            <li><i class="font-color-highlighted icon-eye"></i></li>
            <li class="font-size-xxs">DZI Geprüft & Empfohlen</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <ul class="list-unstyled">
            <li><i class="font-color-highlighted icon-ok-shield"></i></li>
            <li class="font-size-xxs">Sichere Datenübertragung</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {# Form #}
  {{ message_form|without('actions', 'appearance') }}

  {# Form submit #}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="no-contract-block">
          <i class="pull-left icon-no-contract-bond font-color-highlighted"></i>
          <p class="font-color-highlighted"><strong>Keine vertragliche Bindung</strong> - Ihre
            Patenschaft
            ist jederzeit kündbar.</p>
        </div>
      </div>

      <div class="col-xs-12 text-center">
        {{ message_form.actions }}
        {# TODO Make it translatable #}
        <p class="font-size-xs text-center">Felder mit einem * bitte unbedingt ausfüllen.</p>
      </div>
    </div>
  </div>
</div>
