{#
/**
 * This template is used when viewing the wovi form section.
 *
 * Available variables:
 * - form: A list of all form elements.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('container') }}>
  <div class="row">
    {#{{ kint(elements) }}#}

    {% if elements.headline %}
      <div class="col-xs-12">
        <h2 class="form-hl text-center font-size-m">{{ elements.headline }}</h2>
      </div>
    {% endif %}
    {% if elements.subline %}
      <div class="col-xs-12">
        <p class="form-sl text-center font-size-s">{{ elements.subline }}</p>
      </div>
    {% endif %}
    {# TODO @Voegler set form URLs #}
    {# TODO have to be set dynamic #}
    <div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4 vert-offset-top-2 text-center">
      <a href="/formulare/patenschafts-vorschlag-email"
         class="btn btn-icon-round btn-icon-round-xl btn-form-highlight{% if elements.suggestion_type.email %} active {% endif %}"><i
          class="icon-at icon-size-xl font-book"></i></a>
      <p class="font-size-xs vert-offset-top-1 text-uppercase">Per E-Mail</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 vert-offset-top-2 text-center">
      <a href="/formulare/patenschafts-vorschlag-post"
         class="btn btn-icon-round btn-icon-round-xl btn-form-highlight{% if elements.suggestion_type.post %} active {% endif %}"><i
          class="icon-mail icon-size-l"></i></a>
      <p class="font-size-xs vert-offset-top-1 text-uppercase">Per Post</p>
    </div>
    {# Wrap smaller on large BP #}
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">
          {{ elements|without('headline','subline', 'suggestion_type') }}
        </div>
      </div>
    </div>
  </div>
</div>
