{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  <div class="form-wrapper">
    <div class="col-xs-12"><p class="font-size-xxs text-center-xs"><strong>Where</strong> would you like to
        <strong>help</strong>?
      </p></div>
    <div class="col-xs-12 col-md-6 form-less-space-top">
      {{ form_child_country.gender }}
    </div>
    <div
      class="col-xs-12 col-md-6 form-less-space-top">{{ form_child_country.country }}</div>
    <div class="col-xs-12 text-center-xs">{{ form_child_country.submit }}</div>

    <div class="col-xs-12">
      <p class="h2 font-size-xxs text-center-xs" id="country-child-finder-error"></p>
    </div>


  </div>
  {{ form_child_country.form_build_id }}
  {{ form_child_country.form_token }}
  {{ form_child_country.form_id }}
  {{ form_child_country.actions }}
</form>
