<div{{ attributes.addClass('country-page-section--his', 'editorial-section', 'vert-offset-top-3', 'vert-offset-bottom-3') }}>
  <div class="container">
    <div class="row">
      <div{{ content_attributes.addClass('col-xs-12', 'col-sm-8') }}>
        <div class="font-size-l">{{ content.headline }}</div>
        <div class="font-size-xs">{{ content.copy }}</div>
      </div>
      <div{{ content_attributes.addClass('col-xs-12', 'col-sm-4', 'vert-offset-top-1') }}>
        {{ content.image }}
      </div>
    </div>
  </div>
</div>
