<div class="editorial-page child-sponsorship-info-sponsorship-experience position-container">
  <div class="anchor" id="patenschaft-erleben"></div>

  {# Intro  #}
  <div
    class="vert-offset-bottom-2 vert-offset-top-1 vert-offset-sm-top-2 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="font-size-xs text-color-neutral">Kontakt zum Patenkind</h3>
          <h2 class="font-size-xl">Begleiten Sie ihr Patenkind auf dem Weg in eine bessere zukunft </h2>
          <p class="font-size-xs vert-offset-top-1">Sie wissen genau, welches Kind Sie unterstützen und wo es zu Hause
            ist. Sie erhalten <strong>Informationen</strong> über seine Entwicklung und die Erfolge des Projektes. Sie
            können Ihrem
            Patenkind <strong>selbst schreiben</strong> und es sogar <strong>besuchen</strong>. Mit einer Patenschaft
            bereichern Sie darum nicht nur das
            Leben anderer – sondern auch Ihr eigenes.
          </p>
          <div class="vert-offset-top-1">
            <a class="btn btn-beauty btn-transparent" href="/kinderpatenschaft/informieren/kontakt-zum-kind" target="offcanvas">Mehr
              erfahren</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# My Worldvision Video #}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="editorial--content img-content">
          <div class="item-1 editorial-youtube-video editorial--content" id="editorial-youtube-video-1">
            <div{{ content_attributes.addClass('embed-responsive', 'embed-responsive-16by9') }}>
              <div id="yt-container-{{ id }}"
                   class="yt-container embed-responsive-item"
                   data-entity-id="{{ id }}"
                   data-yt-id="{{ youtube_id }}"></div>
              <button class="btn-icon btn-close yt-close"><i class="icon-cross"></i></button>
            </div>
            <div class="yt-preview">
              <div class="yt-preview-img">
                <picture>
                  <source media="(max-width: 767px)"
                          srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-video-xs.jpg">
                  <source media="(min-width: 768px) and (max-width: 991px)"
                          srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-video-sm.jpg">
                  <source media="(min-width: 992px)"
                          srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-video-md.jpg">
                  <!---Fallback--->
                  <img class="img-responsive img-fullsize"
                       src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-video-sm.jpg"
                       srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-video-sm.jpg"
                       alt="">
                </picture>


                <button class="btn-icon yt-play v-h-align-center-abs"><i class="icon-play"></i></button>
              </div>
              <div class="yt-preview-txt">
                <h3 class="font-size-l">So erlebe ich Kinderpatenschaft</h3>
                <p class="font-size-xs">Mein World Vision - So nah war Patenschaft noch nie.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {# Intro 02 #}
  <div
    class="vert-offset-sm-bottom-2 vert-offset-top-1 vert-offset-sm-top-2 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12 text-center-xs">
              <h3 class="font-size-xs text-color-neutral font-book">Nur bei World Vision:</h3>
              <h2 class="font-size-xl">auch Mit dem Online Paten-Portal</h2>
            </div>
            <div class="col-xs-12 vert-offset-top-1 vert-offset-bottom-1 text-center-xs txt-content">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                  <div class="vert-offset-top-1 vert-offset-bottom-1">
                    <button class="btn-icon btn-icon-round btn-icon-round-xl btn-icon-round-no-hover"><i
                        class="icon-globus icon-size-xl"></i></button>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <h3 class="font-size-xs text-transform-none"><strong>Immer auf dem neuesten Stand</strong></h3>
                  <p class="font-size-xs">Aktuelle Fortschrittsberichte, Bilder und Videos zum Patenkind. Neuigkeiten
                    aus
                    dem Projekt und spannende Länderinformationen.</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 vert-offset-top-1 vert-offset-bottom-1 text-center-xs txt-content">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                  <div class="vert-offset-top-1 vert-offset-bottom-1">
                    <button class="btn-icon btn-icon-round btn-icon-round-xl btn-icon-round-no-hover"><i
                        class="icon-paper-dart icon-size-l"></i></button>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <h3 class="font-size-xs text-transform-none"><strong>Kontakt zum Patenkind</strong></h3>
                  <p class="font-size-xs">Persönlicher Kontakt per Post oder E-Mail. Tipps zu Geschenken und
                    Informationen
                    zum Besuch des eigenen Patenkindes.</p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 vert-offset-top-1 vert-offset-bottom-1 text-center-xs txt-content">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                  <div class="vert-offset-top-1 vert-offset-bottom-1">
                    <button class="btn-icon btn-icon-round btn-icon-round-xl btn-icon-round-no-hover"><i
                        class="icon-child-sponsorship-exchange icon-size-l"></i></button>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <h3 class="font-size-xs text-transform-none"><strong>Austausch mit anderen Paten</strong></h3>
                  <p class="font-size-xs">Erfahrungsaustausch mit anderen Paten, Reiseberichte lesen, Organisation von
                    gemeinsamen Reisen.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# Img #}
        <div class="col-xs-12 col-sm-6 vert-offset-sm-top-2">
          <div class="row">
            <picture>
              <source media="(max-width: 767px)"
                      srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-my-worldvision-ipad-preview-xs.jpg">
              <source media="(min-width: 768px) and (max-width: 991px)"
                      srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-my-worldvision-ipad-preview-sm.jpg">
              <source media="(min-width: 992px)"
                      srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-my-worldvision-ipad-preview-md.jpg">
              <!---Fallback--->
              <img class="img-responsive img-fullsize"
                   src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-my-worldvision-ipad-preview-sm.jpg"
                   srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-my-worldvision-ipad-preview-sm.jpg"
                   alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Godparents quotes #}
  <div
    class="section-highlighted section-highlighted--tertiary vert-offset-top-2 vert-offset-bottom-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="font-size-xs text-color-neutral">Was unsere Paten sagen</h3>
          <h2 class="font-size-xl">„Jeder Brief von meinem Patenkind zaubert ein Lächeln In mein Gesicht“</h2>
        </div>
        {# Godparent 01 #}
        <div class="col-xs-12 col-sm-6 vert-offset-bottom-1 vert-offset-top-1">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-md-offset-0 vert-offset-md-top-1">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-uwe-dahlhaus-xs.png">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-uwe-dahlhaus-sm.png">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-uwe-dahlhaus-sm.png"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-uwe-dahlhaus-sm.png"
                     alt="Uwe Dahlhaus">
              </picture>
            </div>
            <div class="col-xs-12 col-md-8 vert-offset-top-1">
              <p class="font-size-xs">„Ich bin Pate, weil ich damit einen kleinen Beitrag für eine
                gerechtere
                Welt leisten
                kann. Besonders wichtig ist mir, dass World Vision mein Geld nachhaltig einsetzt.“
              </p>
              <p class="font-size-xs"><strong>Uwe Dahlhaus</strong>, Pate seit 2013</p>
            </div>
          </div>
        </div>

        {# Godparent 02 #}
        <div class="col-xs-12 col-sm-6 vert-offset-bottom-1 vert-offset-top-1">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-md-offset-0 vert-offset-md-top-1">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-vanessa-gloehde-xs.png">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-vanessa-gloehde-sm.png">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-vanessa-gloehde-sm.png"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-vanessa-gloehde-sm.png"
                     alt="Uwe Dahlhaus">
              </picture>
            </div>
            <div class="col-xs-12 col-md-8 vert-offset-top-1">
              <p class="font-size-xs">„Mein Patenkind lässt mich an ihrem Leben und der Kultur ihres
                Landes
                teilhaben,
                wodurch auch ich viel lerne. Der Kontakt ist sehr herzlich.“
              </p>
              <p class="font-size-xs"><strong>Vanessa Glöhde</strong>, Patin seit 2011</p>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        {# Godparent 03 #}
        <div class="col-xs-12 col-sm-6 vert-offset-bottom-1 vert-offset-top-1">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-md-offset-0 vert-offset-md-top-1">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-sky-du-mont-xs.png">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-sky-du-mont-sm.png">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-sky-du-mont-sm.png"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-sky-du-mont-sm.png"
                     alt="Uwe Dahlhaus">
              </picture>
            </div>
            <div class="col-xs-12 col-md-8 vert-offset-top-1">
              <p class="font-size-xs">„Vor einigen Jahren habe ich die Kinderpatenschaft für ein Mädchen
                aus
                Mauretanien
                übernommen. Ich freue mich, dass sie zur Schule gehen kann, ausreichend Nahrung hat und medizinische
                Versorgung erhält. Der Besuch im Projekt war für mich ein überwältigendes Erlebnis, das ich wohl nie
                vergessen werden.“
              </p>
              <p class="font-size-xs"><strong>Sky du Mont</strong>, Schauspieler, Pate seit 2002</p>
            </div>
          </div>
        </div>

        {# Godparent 04 #}
        <div class="col-xs-12 col-sm-6 vert-offset-bottom-1 vert-offset-top-1">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-md-offset-0 vert-offset-md-top-1">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-janine-kunze-xs.png">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-janine-kunze-sm.png">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-janine-kunze-sm.png"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-janine-kunze-sm.png"
                     alt="Uwe Dahlhaus">
              </picture>
            </div>
            <div class="col-xs-12 col-md-8 vert-offset-top-1">
              <p class="font-size-xs">„Mein Patenkind Junisa lebt in Sierra Leone. Ich freue mich sehr über den regelmäßigen Briefkontakt, den
                meine Kinder und Junisa miteinander pflegen. Für mich als Mutter ist es schön zu sehen, wie auch meine
                eigenen Kinder verstehen, dass andere Menschen unsere Hilfe brauchen.“</p>
              <p class="font-size-xs"><strong>Janine Kunze</strong>, Schauspielerin, Patin seit 2009
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
