<div class="child-sponsorship-info-help-impact position-container">
  <div class="anchor" id="hilfe-und-wirkung" name="hilfe-und-wirkung"></div>

  {# Intro #}
  <div
    class="child-sponsorship-info-help-impact vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="font-size-xs text-color-neutral">Patenkind, Familie, Region</h3>
          <h2 class="font-size-xl">Ihre Patenschaft hilft dreifach</h2>
          <p class="font-size-xs vert-offset-top-1"><strong>Hilfe zur Selbsthilfe</strong> ist der Weg, um Kindern und
            ihren Familien aus
            der Armut zu
            helfen. Bleibende Verbesserungen im Leben bedürftiger Kinder sind nur möglich, wenn ihr Umfeld verändert
            wird.
            Die Hilfe einer World Vision-Patenschaft beschränkt sich nicht nur auf das <strong>Patenkind</strong> – auch
            die <strong>Familie</strong> und
            die <strong>Region</strong> des Kindes werden eingebunden.</p>
          <div class="vert-offset-top-1">
            <a class="btn btn-icon smooth-scroll" href="#ihre-patenschaft-hilft-dreifach"><i
                class="icon-arrow-down font-size-l"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Help 01 Child #}
  <div class="position-container section-highlighted-sm">
    <div class="anchor" id="ihre-patenschaft-hilft-dreifach" name="ihre-patenschaft-hilft-dreifach"></div>
    <picture>
      <source media="(max-width: 767px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-child-xs.jpg">
      <source media="(min-width: 768px) and (max-width: 991px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-child-sm.jpg">
      <source media="(min-width: 992px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-child-md.jpg">
      <!---Fallback--->
      <img class="img-responsive img-fullsize"
           src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-child-sm.jpg"
           srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-child-sm.jpg"
           alt="">
    </picture>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-1 vert-align-center-abs-sm text-center vert-offset-xs-top-1 vert-offset-xs-bottom-2">
          <h3 class="font-size-xl"><span class="round-bg-sm align-middle"><i>1</i></span> <span class="align-middle">Kind</span></h3>
          <p class="font-size-xs">Die Hilfe richtet sich nach den Grundbedürfnissen des Patenkindes und kann
            medizinische
            Versorgung,
            ausreichende Ernährung, Bildung oder Zugang zu sauberem Trinkwasser umfassen.</p>
          <div class="vert-offset-top-1"><a class="btn btn-beauty btn-transparent" target="offcanvas"
                                            href="/kinderpatenschaft-informieren/dreifache-hilfe-kind">Mehr
              erfahren</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Help 02 Family #}
  <div class="position-container section-highlighted-sm">
    <picture>
      <source media="(max-width: 767px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-family-xs.jpg">
      <source media="(min-width: 768px) and (max-width: 991px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-family-sm.jpg">
      <source media="(min-width: 992px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-family-md.jpg">
      <!---Fallback--->
      <img class="img-responsive img-fullsize"
           src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-family-sm.jpg"
           srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-family-sm.jpg"
           alt="">
    </picture>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-4 col-lg-offset-1 vert-align-center-abs-sm text-center vert-offset-xs-top-1 vert-offset-xs-bottom-2">
          <h3 class="font-size-xl"><span class="round-bg-sm align-middle"><i>2</i></span> <span class="align-middle">Familie</span></h3>
          <p class="font-size-xs">Zur Hilfe für die Familie des Kindes zählen etwa Schulungen zu landwirtschaftlichen
            Anbaumethoden oder Einkommensförderung. So werden die Menschen nach und nach unabhängig von Förderung.</p>
          <div class="vert-offset-top-1"><a class="btn btn-beauty btn-transparent" target="offcanvas"
                                            href="/kinderpatenschaft-informieren/dreifache-hilfe-familie">Mehr
              erfahren</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Help 03 Region #}
  <div class="position-container section-highlighted-sm">
    <picture>
      <source media="(max-width: 767px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-region-xs.jpg">
      <source media="(min-width: 768px) and (max-width: 991px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-region-sm.jpg">
      <source media="(min-width: 992px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-region-md.jpg">
      <!---Fallback--->
      <img class="img-responsive img-fullsize"
           src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-region-sm.jpg"
           srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/help-impact-region-sm.jpg"
           alt="">
    </picture>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-1 vert-align-center-abs-sm text-center vert-offset-xs-top-1 vert-offset-xs-bottom-2">
          <h3 class="font-size-xl"><span class="round-bg-sm align-middle"><i>3</i></span> <span class="align-middle">Region</span></h3>
          <p class="font-size-xs">Alle Bewohner eines World Vision Projektgebietes profitieren davon, wenn sich die
            Infrastruktur verbessert, etwa durch den Bau neuer Brunnen, Schulen oder Gesundheitsstationen.</p>
          <div class="vert-offset-top-1"><a class="btn btn-beauty btn-transparent" target="offcanvas"
                                            href="/kinderpatenschaft-informieren/dreifache-hilfe-region">Mehr
              erfahren</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# Intro #}
  <div
    class="vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="font-size-xs text-color-neutral">Nachhaltige Hilfe zur Selbsthilfe</h3>
          <h2 class="font-size-xl">Wirkung einer Kinderpatenschaft</h2>
          <p class="font-size-xs vert-offset-top-1">Die World Vision Patenschafts-Projekte sind <strong>auf 15 Jahre
              angelegt</strong> und
            <strong>verbessern die Lebensbedingungen der Kinder und Familien nachhaltig</strong>. Dabei werden die
            Menschen vor Ort
            partnerschaftlich in die Arbeit eingebunden. Denn nur <strong>Hilfe zur Selbsthilfe</strong> ist der Weg, um
            Kindern und ihren
            Familien aus der Armut zu helfen.</p>
          <div class="vert-offset-top-1">
            <a class="btn btn-icon smooth-scroll" href="#wirkung-einer-kinderpatenschaft"><i
                class="icon-arrow-down font-size-l"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# Slider #}
  <div {{ attributes.addClass('editorial--content', 'img-content', 'position-container') }}>
    <div class="anchor" id="wirkung-einer-kinderpatenschaft" name="wirkung-einer-kinderpatenschaft"></div>
    <div class="editorial-hero-slider">
      <div class="inner-content">
        {# Slide 01 #}
        <div {{ attributes.addClass('slider-item', 'section-highlighted', 'section-highlighted--headline') }}>
          <picture>
            <source media="(max-width: 767px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-education-xs.jpg">
            <source media="(min-width: 768px) and (max-width: 991px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-education-sm.jpg">
            <source media="(min-width: 992px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-education-md.jpg">
            <!---Fallback--->
            <img class="img-responsive img-fullsize"
                 src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-education-sm.jpg"
                 srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-education-sm.jpg"
                 alt="">
          </picture>
          <div class="container">
            <div class="row">
              <div class="slide-content v-align-center-abs">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 text-center vert-offset-sm-top-1">
                  <h2 class="font-size-m">Bildung</h2>
                  <p class="font-size-xs">Heute besuchen 95% der Mädchen (vorher 25%) die Grundschule</p>
                  <p class="font-size-xs">(Projektbeispiel Mannargundi, Indien)</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 vert-offset-xs-top-2 text-center">
                  <ul class="list-unstyled list-inline sponsorship-statistics">
                    <li>
                      <p class="font-bold">25%</p>
                      <div class="percent-bar percent-bar-25"></div>
                      <p>2008</p>
                    </li>
                    <li>
                      <p class="font-bold">95%</p>
                      <div class="percent-bar percent-bar-95"></div>
                      <p>2013</p>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 editorial-button vert-offset-top-1 vert-offset-sm-top-2 text-center">
                  <a class="btn btn-beauty btn-transparent btn-fullsize-xs" target="offcanvas" href="/kinderpatenschaft-informieren/wirkungsnachweis-bildung">Mehr
                    Wirkungsnachweise</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {# Slide 02 #}
        <div {{ attributes.addClass('slider-item', 'section-highlighted', 'section-highlighted--headline') }}>
          <picture>
            <source media="(max-width: 767px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-health-xs.jpg">
            <source media="(min-width: 768px) and (max-width: 991px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-health-sm.jpg">
            <source media="(min-width: 992px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-health-md.jpg">
            <!---Fallback--->
            <img class="img-responsive img-fullsize"
                 src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-health-sm.jpg"
                 srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-health-sm.jpg"
                 alt="">
          </picture>
          <div class="container">
            <div class="row">
              <div class="slide-content v-align-center-abs">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-md-4 col-md-offset-1 text-center vert-offset-sm-top-1">
                  <h2 class="font-size-m">Gesunde Ernährung</h2>
                  <p class="font-size-xs">Unterernährung der Kleinkinder von über 50% auf heute 19% gesenkt</p>
                  <p class="font-size-xs">(Projektbeispiel Guarayos, Bolivien)</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 vert-offset-top-2 text-center">
                  <ul class="list-unstyled list-inline sponsorship-statistics">
                    <li>
                      <p class="font-bold">50%</p>
                      <div class="percent-bar percent-bar-50"></div>
                      <p>2008</p>
                    </li>
                    <li>
                      <p class="font-bold">19%</p>
                      <div class="percent-bar percent-bar-19"></div>
                      <p>2013</p>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 editorial-button vert-offset-top-1 vert-offset-sm-top-2 text-center">
                  <a class="btn btn-beauty btn-transparent btn-fullsize-xs" target="offcanvas" href="/kinderpatenschaft-informieren/wirkungsnachweis-ernaehrung">Mehr
                    Wirkungsnachweise</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {# Slide 03 #}
        <div {{ attributes.addClass('slider-item', 'section-highlighted', 'section-highlighted--headline') }}>
          <picture>
            <source media="(max-width: 767px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-drinking-water-xs.jpg">
            <source media="(min-width: 768px) and (max-width: 991px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-drinking-water-sm.jpg">
            <source media="(min-width: 992px)"
                    srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-drinking-water-md.jpg">
            <!---Fallback--->
            <img class="img-responsive img-fullsize"
                 src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-drinking-water-sm.jpg"
                 srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-drinking-water-sm.jpg"
                 alt="">
          </picture>
          <div class="container">
            <div class="row">
              <div class="slide-content v-align-center-abs">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-md-4 col-md-offset-1 text-center vert-offset-sm-top-1">
                  <h2 class="font-size-m">Sauberes Trinkwasser</h2>
                  <p class="font-size-xs">Haushalte mit Zugang zu sauberem Trinkwasser.</p>
                  <p class="font-size-xs">(Projektbeispiel Kathiotte, Senegal)</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 vert-offset-top-2 text-center">
                  <ul class="list-unstyled list-inline sponsorship-statistics">
                    <li>
                      <p class="font-bold">58,6%</p>
                      <div class="percent-bar percent-bar-59"></div>
                      <p>2006</p>
                    </li>
                    <li>
                      <p class="font-bold">100%</p>
                      <div class="percent-bar percent-bar-100"></div>
                      <p>2014</p>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 editorial-button vert-offset-top-1 vert-offset-sm-top-2 text-center">
                  <a class="btn btn-beauty btn-transparent btn-fullsize-xs" target="offcanvas" href="/kinderpatenschaft-informieren/wirkungsnachweis-trinkwasser">Mehr
                    Wirkungsnachweise</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {# Slide 04 #}
        {#<div {{ attributes.addClass('slider-item', 'section-highlighted', 'section-highlighted--headline') }}>#}
        {#<picture>#}
        {#<source media="(max-width: 767px)"#}
        {#srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-protection-xs.jpg">#}
        {#<source media="(min-width: 768px) and (max-width: 991px)"#}
        {#srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-protection-sm.jpg">#}
        {#<source media="(min-width: 992px)"#}
        {#srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-protection-md.jpg">#}
        {#<!---Fallback--->#}
        {#<img class="img-responsive img-fullsize"#}
        {#src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-protection-sm.jpg"#}
        {#srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/sponsorship-experience-protection-sm.jpg"#}
        {#alt="">#}
        {#</picture>#}
        {#<div class="container">#}
        {#<div class="row">#}
        {#<div class="slide-content v-align-center-abs">#}
        {#<div class="col-xs-12 col-lg-10 col-lg-offset-1 text-center vert-offset-sm-top-1">#}
        {#<h2 class="font-size-m">Schutz</h2>#}
        {#<p class="font-size-xs">World Vision setzt sich weltweit über Kinderpatenschaften und weitere Projekte#}
        {#dafür ein, dass Kinder sicher und gesund aufwachsen, ihr volles Potential entfalten können und ihre#}
        {#Rechte respektiert werden.#}
        {#</p>#}
        {#<p class="font-size-xs">Die UN-Kinderrechtskonvention bietet dafür einen klaren Rahmen. Sie ist ein#}
        {#umfassendes internationales Rechtsinstrument, das Recht setzt und Prinzipien sowie Normen für den#}
        {#Status von Kindern in der Welt festschreibt. Die UN-Kinderrechtskonvention schreibt fest, dass bei#}
        {#allen Entscheidungen, die Staaten treffen, das Wohl des Kindes berücksichtigt werden muss.#}
        {#</p>#}
        {#</div>#}
        {#<div class="col-xs-12 editorial-button vert-offset-top-1 vert-offset-sm-top-2 text-center">#}
        {#<a class="btn btn-beauty btn-transparent btn-fullsize-xs" target="offcanvas" href="/kinderpatenschaft-informieren/wirkungsnachweis-schutz-gesundheit">Mehr#}
        {#Wirkungsnachweise</a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
      </div>
    </div>
  </div>

</div>
