<div class="position-container">
  <div class="anchor" id="transparenz" name="transparenz"></div>
  {# Intro #}
  <div
    class="vert-offset-bottom-2 vert-offset-top-1 vert-offset-sm-top-2 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="font-size-xs text-color-neutral text-center">Ausgezeichnete Transparenz</h3>
          <h2 class="font-size-xl text-center">Das Passiert mit ihrem Geld</h2>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="font-size-xs vert-offset-top-1">World Vision setzt die Patenschaftsbeiträge <strong>effizient und
              nachhaltig</strong>
            ein. Der besonders verantwortungsvolle Umgang mit Spenden wird durch das Siegel des Deutschen
            Zentralinstitutes für Soziale Fragen (DZI) bestätigt und wurde im Rahmen einer Spiegel Online Studie mit dem
            ersten Platz ausgezeichnet. </p>
        </div>
        <div class="col-xs-6 col-sm-2 vert-offset-top-2 vert-offset-bottom-1">
          <img width="76" class="img-responsive center-block"
               src="{{ base_path ~ theme_wovide_path }}/assets/images/dzi-spendensiegel.png"
               alt="DZI - Spendensiegel">
        </div>
        <div class="col-xs-6 col-sm-2 vert-offset-top-2 vert-offset-bottom-1">
          <img width="103" class="img-responsive center-block"
               src="{{ base_path ~ theme_wovide_path }}/assets/images/spiegel-online-transparenzpreis.png"
               alt="Studie Spiegel Online - Platz 1 Transparenzpreis">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
            class="img-responsive"
            src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-85-percent.jpg"
            alt="84,4 Prozent"></div>
        <div class="clearfix"></div>
        <p class="font-size-xs vert-offset-top-1 text-center">Projektausgaben</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
            class="img-responsive"
            src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-8-percent.jpg"
            alt="8 Prozent"></div>
        <div class="clearfix"></div>
        <p class="font-size-xs vert-offset-top-1 text-center">Werbung / allgemeine Öffentlichkeitsarbeit</p>
      </div>
      <div class="clearfix hidden-md hidden-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
            class="img-responsive"
            src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-4-percent.jpg"
            alt="4,2 Prozent"></div>
        <div class="clearfix"></div>
        <p class="font-size-xs vert-offset-top-1 text-center">Verwaltungsausgaben</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
            class="img-responsive"
            src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-3-percent.jpg"
            alt="3 Prozent"></div>
        <div class="clearfix"></div>
        <p class="font-size-xs vert-offset-top-1 text-center">Paten- / Spenderbetreuung</p>
      </div>
    </div>
  </div>

  {# Why Worldvision #}
  <div
    class="vert-offset-bottom-2 vert-offset-top-1 vert-offset-sm-top-2 vert-offset-sm-bottom-3 section-highlighted section-highlighted--primary world-map-bg-sm">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center txt-content vert-offset-top-1">
          <p class="font-size-xs text-uppercase text-color-neutral">Warum World Vision</p>
          <h2 class="font-size-l">Unschätzbar wertvoll und weltweit geschätzt: unsere Erfahrung</h2>
          <p class="font-size-xs text-color-neutral">World Vision unterstützt seit über 40 Jahren Kinder in Not. Wir
            sind mit lokalen
            Mitarbeitern direkt vor Ort. Die Bewohner von World Vision-Projekten werden von der Planung bis zum
            Projektabschluss aktiv und partnerschaftlich eingebunden.
            Denn: Hilfe zur Selbsthilfe ist der Weg, um Kindern und ihren Familien aus der Armut zu helfen.</p>
          <div class="vert-offset-top-1">
            <a class="btn btn-icon smooth-scroll" href="#ating-ai"><i class="icon-arrow-down font-size-l"></i></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3 txt-content">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
              class="img-responsive"
              src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-41-mio.png"
              alt="41 Mio"></div>
          <div class="clearfix"></div>
          <p class="font-size-xs vert-offset-top-1 text-center">Kinder zu verbesserten
            Lebensbedingungen geholfen
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3 txt-content">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
              class="img-responsive"
              src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-3-mio.png"
              alt="3,3 Mio"></div>
          <div class="clearfix"></div>
          <p class="font-size-xs vert-offset-top-1 text-center">Patenkinder</p>
        </div>
        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3 txt-content">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
              class="img-responsive"
              src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-44-k.png"
              alt="4,2 Prozent"></div>
          <div class="clearfix"></div>
          <p class="font-size-xs vert-offset-top-1 text-center">Mitarbeiter in 99 Ländern aktiv</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 vert-offset-top-2 vert-offset-md-top-3 txt-content">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1"><img
              class="img-responsive"
              src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-diagram-15-years.png"
              alt="3 Prozent"></div>
          <div class="clearfix"></div>
          <p class="font-size-xs vert-offset-top-1 text-center">Durchschnittliche Projektlaufzeit / Spenderbetreuung</p>
        </div>
      </div>
    </div>
  </div>

  {# Sponsorchip child story #}
  <div class="position-container section-highlighted-sm">
    <div class="anchor" id="#ating-ai" name="ating-ai"></div>
    <picture>
      <source media="(max-width: 767px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-sponsorship-child-ating-ai-xs.jpg">
      <source media="(min-width: 768px) and (max-width: 991px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-sponsorship-child-ating-ai-sm.jpg">
      <source media="(min-width: 992px)"
              srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-sponsorship-child-ating-ai-md.jpg">
      <!---Fallback--->
      <img class="img-responsive img-fullsize"
           src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-sponsorship-child-ating-ai-sm.jpg"
           srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/transparency-sponsorship-child-ating-ai-sm.jpg"
           alt="">
    </picture>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-1 vert-align-center-abs-sm text-center vert-offset-xs-top-1 vert-offset-xs-bottom-2">
          <h3 class="font-size-xl">„Die Unterstützung meiner Patin hat mich ermutigt, nach einer besseren Zukunft zu
            streben."</h3>
          <p class="font-size-xs vert-offset-top-1"><strong>Ating Ai</strong>, 22 Jahre, <strong>ehemaliges
              Patenkind</strong>, hat das Forstwirtschaftsprogramm am College erfolgreich
            abgeschlossen und setzt sich für den Schutz der Wälder in seiner Heimat ein.</p>
          <div class="vert-offset-top-1"><a class="btn btn-beauty btn-transparent" href="/kinderpatenschaft/ehemalige-patenkinder/ating-ai-aus-vietnam" target="offcanvas">Weiterlesen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
