<p class="h6">{{ 'Contact Us'|trans }}</p>
<p class="highlighted"><strong>{{ global_phone }}</strong></p>
<p>{{ open_hours }}</p>
<p>{{ 'E-Mail'|trans }}: <a class="link-underlined" href="mailto:{{ contact_mail }}">{{ contact_mail }}</a></p>