<div class="child-sponsorship-info-header">
  <picture>
    <source media="(max-width: 767px)"
            srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-info-header-xs.jpg">
    <source media="(min-width: 768px) and (max-width: 991px)"
            srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-info-header-sm.jpg">
    <source media="(min-width: 992px)"
            srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-info-header-md.jpg">
    <!---Fallback--->
    <img class="img-responsive img-fullsize" src="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-info-header-sm.jpg"
         srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-info-header-sm.jpg"
         alt="">
  </picture>
  <div class="container-fluid">
    <div class="row">
      <div class="header-txt">
        <div class="col-xs-12 col-sm-6">
          <h1 class="font-size-xl">A child sponsorship with World Vision</h1>
          <p class="font-size-s">A particularly lasting and personal kind of support.</p>
        </div>
      </div>
    </div>
  </div>
</div>
