<div {{ attributes.addClass('position-container') }}>
  <div class="anchor" id="kinderpatenschaft" name="kinderpatenschaft"></div>
  {# Intro #}
  <div
    class="child-sponsorship-info-child-sponsorship vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="font-size-xs text-color-neutral">Child sponsorship</h3>
          <h2 class="font-size-xl font-book">The nicest gift for children:
            <br/><strong>a future</strong></h2>
          <p class="font-size-xs vert-offset-top-1">Your sponsorship provides the sponsored child with access to clean
            <strong>drinking water</strong>, a healthy <strong>diet, medical care</strong> and <strong>education</strong> on a permanent basis.
          </p>
          <p class="font-size-xs">With one Euro per day you
            support not only the <strong>child</strong> but also its <strong>family</strong> and the entire <strong>area</strong>.
          </p>
          <p class="font-size-xs">Through <strong>personal contact</strong> you share
            in the experience of your <strong>help having an effect</strong>.
          </p>
          <a class="btn btn-beauty btn-fullsize-xs cta-sponsor-child" href="/kinderpatenschaft">Become a sponsor now</a>
          <div class="vert-offset-top-2">
            <a class="btn btn-icon smooth-scroll" href="#wichtig-zu-wissen"><i class="icon-arrow-down font-size-l"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# FAQs #}
  <div
    class="child-sponsorship-info-faq section-highlighted section-highlighted--primary vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3 position-container">
    <div class="anchor" id="wichtig-zu-wissen" name="wichtig-zu-wissen"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 txt-content text-center"><h2 class="font-size-m">Important to know</h2></div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen"
               class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-calculator icon-size-xl"></i></a>
          </div>
          <p class="font-size-xs"><strong>Tax-deductible</strong></p>
          <p class="font-size-xs">World Vision is recognised as a non-profit organisation. Your sponsorship contributions are therefore tax-deductable.</p>
        </div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-no-contract-bond icon-size-l"></i></a>
          </div>
          <p class="font-size-xs"><strong>No contractual commitment</strong></p>
          <p class="font-size-xs">You decide how long you would like to pay. You may cancel at any time without giving reasons.</p>
        </div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-eye icon-size-xl"></i></a>
          </div>
          <p class="font-size-xs"><strong>Your donation gets to where it is needed</strong></p>
          <p class="font-size-xs">World Vision is regularly audited, recommended, and carries the DZI donation seal.</p>
        </div>

        <div class="col-xs-12 vert-offset-bottom-1 vert-offset-top-1 text-center"><a
            class="btn btn-beauty btn-transparent btn-fullsize-xs" target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen">
            Frequently asked questions</a></div>
      </div>
    </div>
  </div>
</div>
