<div{{ attributes.addClass('editorial--content', 'img-content') }}>
  <div class="editorial-child-sponsorship-child-select inner-content">
    <div class="container container-inner">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 child-img">
          {{ child_image }}
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 col-no-padding-left-sm child-infos">
          <h2 class="font-size-l text-center">Hallo, ich bin <span
              class="txt-highlighted font-hand-script">{{ child_info.name }}</span> {% if child_info.special_country_article %}{{ child_info.special_country_article }}{% else %}aus{% endif %}
            <span class="txt-highlighted font-hand-script">{{ child_info.country }}</span> und suche
            noch einen Paten!</h2>
          <ul class="list-unstyled text-uppercase text-center">
            <li>Mein Alter: <span class="font-bold">{{ child_info.age }} Jahre ({{ child_info.birthday }})</span></li>
            <li>Ich lebe bei: <span class="font-bold">{{ child_info.lives_with|replace({"mit ":""}) }}</span></li>
            <li>Ich mag: <span class="font-bold">{{ child_info.likes }}</span></li>
          </ul>
          <div class="text-center"><a href="/formulare/kinderpatenschaft-uebernehmen" class="btn btn-beauty btn-fullsize-xs">Jetzt Pate
              werden</a></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
