{% if label_hidden %}
    {% if multiple %}
        <div{{ attributes }}>
            <div class="col-xs-12 text-center">
                {% for item in items %}
                    <h1{{ item.attributes }}>{{ item.content }}</h1>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col-xs-12 text-center">
            {% for item in items %}
                <h1{{ attributes }}>{{ item.content }}</h1>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    <div{{ attributes }}>
        <div class="col-xs-12 text-center">
            <h1{{ title_attributes }}>{{ label }}</h1>
        </div>
        {% if multiple %}
        <div>
            {% endif %}
            {% for item in items %}
                <div class="col-xs-12 text-center">
                    <h1 {{ item.attributes }}>{{ item.content }}</h1>
                </div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}