<div class="position-container">
  {# Help #}
  <div
    class="child-sponsorship-info-child-sponsorship vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="font-size-xl font-book"><strong>ONE WORLD VISION - ONE SPONSORSHIP -
              TRIPLE THE AID</strong> AND ONLY FOR ONE EURO/DAY</h2>
          <p class="font-size-xs vert-offset-top-1">Your sponsorship is the gift of a better future for a child in need in one of the poorest countries on earth. The life of the sponsored child changes with long lasting effects... for only one Euro per day.
          </p>
          <p class="font-size-xs vert-offset-top-1">Long-term improvements in the lives of needy children are only possible through changes in their environment. Therefore, support provided through a World Vision sponsorship is not restricted to the child, but extends to the family and the surrounding area.</p>
        </div>

        {# Img 01 #}
        <div class="col-xs-12 col-md-4">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 vert-offset-top-2">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-child-xs.jpg">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-child-sm.jpg">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-child-sm.jpg"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-help-child-sm.jpg"
                     alt="">
              </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 vert-offset-sm-top-1 vert-offset-md-top-0 text-center-xs-md">
              <h2 class="font-size-l">1. Child</h2>
              <p class="font-size-xs">Initially a child from Africa, Latin America or Asia benefits. Help is geared to the basic needs of the sponsored child and may include medical care, adequate food, education or access to clean drinking water.</p>
            </div>
          </div>
        </div>

        {# Img 02 #}
        <div class="col-xs-12 col-md-4">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 vert-offset-top-2">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-family-xs.jpg">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-family-sm.jpg">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-family-sm.jpg"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-help-family-sm.jpg"
                     alt="">
              </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 vert-offset-sm-top-1 vert-offset-md-top-0 text-center-xs-md">
              <h2 class="font-size-l">2. Family</h2>
              <p class="font-size-xs">Help for the family of the child includes training in agricultural cultivation methods or income aid. Little by little people will become independent of aid.</p>
            </div>
          </div>
        </div>

        {# Img 03 #}
        <div class="col-xs-12 col-md-4">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 vert-offset-top-2">
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-region-xs.jpg">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-region-sm.jpg">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship/img/child-sponsorship-help-region-sm.jpg"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/child-sponsorship-help-region-sm.jpg"
                     alt="">
              </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 vert-offset-sm-top-1 vert-offset-md-top-0 text-center-xs-md">
              <h2 class="font-size-l">3. Area</h2>
              <p class="font-size-xs">All residents of a World Vision project area benefit if their infrastructure is improved, for example, when new wells, schools, or health stations are built.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
