{#
/**
 * This template is used when viewing the wovi form section.
 *
 * Available variables:
 * - form: A list of all form elements.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="container">
    <div class="row">
        {% if elements.child_blocked_info %}
          <div class="col-xs-12">
            <p class="font-size-xs font-bold text-align-center">{{ elements.child_blocked_info }}</p>
          </div>
        {% endif %}
      <div class="clearfix"></div>
    </div>
  </div>

  {% if elements.child is not empty %}
  <div class="child-info-block">
    <div class="container">
        {# Wrap smaller on large BP #}
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-lg-7 col-lg-offset-1 text-center-xs">
              <h2 class="font-size-l">
                {% set child_name = elements.child.givenname|render %}
                {% set child_country = elements.child.country|render %}
                {% trans %}
                  Become godfather now<span class="font-color-neutral"><span class="font-light">and help</span> {{ child_name }} <span class="font-light">from</span> {{ child_country }} </span>
                {% endtrans %}
              </h2>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">{{ elements.child.image }}</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
