<div {{ attributes.addClass('position-container') }}>
  <div class="anchor" id="kinderpatenschaft" name="kinderpatenschaft"></div>
  {# Intro #}
  <div
    class="child-sponsorship-info-child-sponsorship vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="font-size-xs text-color-neutral">Kinderpatenschaft</h3>
          <h2 class="font-size-xl font-book">Das schönste Geschenk für Kinder:
            <br/><strong>eine Zukunft</strong></h2>
          <p class="font-size-xs vert-offset-top-1">Mit einer Kinderpatenschaft ermöglichen Sie Ihrem Patenkind
            dauerhaft Zugang zu sauberem
            <strong>Trinkwasser</strong>, gesunde
            <strong>Ernährung, medizinische Versorgung</strong> und <strong>Bildung</strong>.
          </p>
          <p class="font-size-xs"> Mit nur 1 Euro am Tag unterstützen Sie als Pate nachhaltig neben dem
            <strong>Kind</strong> auch die <strong>Familie</strong>
            und die ganze <strong>Region</strong>.</p>
          <p class="font-size-xs">Im <strong>persönlichen Kontakt</strong> mit Ihrem Patenkind können Sie erleben, wie
            Ihre <strong>Hilfe
              wirkt</strong>.
          </p>
          <a class="btn btn-beauty btn-fullsize-xs cta-sponsor-child" href="/kinderpatenschaft">{{ 'Become a godfather now'|trans }}</a>
          <div class="vert-offset-top-2">
            <a class="btn btn-icon smooth-scroll" href="#wichtig-zu-wissen"><i class="icon-arrow-down font-size-l"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# FAQs #}
  <div
    class="child-sponsorship-info-faq section-highlighted section-highlighted--primary vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3 position-container">
    <div class="anchor" id="wichtig-zu-wissen" name="wichtig-zu-wissen"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 txt-content text-center"><h2 class="font-size-m">Wichtig zu wissen</h2></div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen"
               class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-calculator icon-size-xl"></i></a>
          </div>
          <p class="font-size-xs"><strong>Steuerlich absetzbar</strong></p>
          <p class="font-size-xs">World Vision ist als gemeinnützig
            anerkannt - Ihre Patenschaftsbeiträge sind also steuerlich absetzbar.</p>
        </div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-no-contract-bond icon-size-l"></i></a>
          </div>
          <p class="font-size-xs"><strong>Keine vertragliche Bindung</strong></p>
          <p class="font-size-xs">Sie zahlen nur so lange Sie wollen.
            Kündigen können Sie jederzeit ohne Angabe von Gründen.</p>
        </div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-eye icon-size-xl"></i></a>
          </div>
          <p class="font-size-xs"><strong>Ihre Spende kommt an</strong></p>
          <p class="font-size-xs">World Vision wird regelmäßig geprüft, empfohlen und trägt das DZI Spendensiegel.</p>
        </div>

        <div class="col-xs-12 vert-offset-bottom-1 vert-offset-top-1 text-center"><a
            class="btn btn-beauty btn-transparent btn-fullsize-xs" target="_self" href="{{ url('<current>') }}#canvas=/kinderpatenschaft/haeufig-gestellte-fragen">Häufig
            gestellte
            Fragen</a></div>
      </div>
    </div>
  </div>
</div>
