{{ attach_library('c171/lading-styling') }}
<div class="billy-and-urs-wrapper">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xs-12 header--img">
        {#{{ content.images.stage }}#}
      </div>
    </div>
  </div>
  <div class="container container--content header--content">
    <div class="row">
      <div class="header--inner-content">
        <div class="col-sm-12">
          <h2 class="font-size-xl text-color-neutral">Die Geschichte einer Freundschaft</h2>
        </div>
        <div class="col-xs-12">
          <div class="author">
            <img src="{{ base_path }}/assets/images/profilbild-urs.png" alt="Urs - Pate bei World Vision"/>
            <div class="font-size-xs">Ein Bericht von <strong>Urs</strong></div>
          </div>
          <div class="separator"></div>
          <p class="font-size-s font-color-highlighted">Dank meiner Hilfe kann mein Patenkind Billy spielen und muss
            nicht arbeiten. Wenn ich heute vom Leid in Afrika erzähle, habe ich gleich eine Lösung parat: Eine
            Patenschaft bei World Vision.</p>
          <p class="font-size-xs">
            Durch eine Kooperation meiner Firma mit World Vision bin ich auf Kinderpatenschaften aufmerksam geworden und
            habe mich spontan entschieden: Ich will auch ein Patenkind unterstützen.
            <strong>2016 bin ich nach Simbabwe geflogen, um mein Patenkind Billy zu besuchen.</strong>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid container--image">
    <div class="row no-gutters">
      <div class="col-xs-12 billyurs-image-container">
        {{ content.images.billy }}
      </div>
    </div>
  </div>
  <div class="container container--content">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="font-size-s text-transform-none text-color-neutral">Billy hat seinem Papa erzählt, dass heute sein
          schönster Tag
          ist.</h3>
        <p class="font-size-xs">Billy und seine Familie leben in Rusape, Simbabwe: Eine sehr isolierte Gegend, umgeben
          von Bergen. Die ersten
          Eindrücke waren überwältigend. Das ganze Dorf von Billy wusste, dass ich komme. Bei meiner Ankunft waren
          ungefähr 15 Erwachsene und 10 Kinder. Ich habe allen die Hand geschüttelt und sie haben mir ein bisschen was
          von
          sich erzählt.</p>
        <p class="font-size-xs"><strong>Ab der ersten Minute haben Billy und ich uns super verstanden.</strong> Der
          Kleine hat keine
          Berührungsängste. Ich habe ihm und seinen Eltern die Hand geschüttelt. Außerdem wollten sie ganz viele Fotos
          machen. <strong>Alle sind super nett und herzlich, und es wird echt viel gelacht.</strong> Billy, der Kleine,
          ist acht. Ich hatte ihm ein paar Sachen mitgebracht: eine Hose und ein T-Shirt, einen Fußball, Zahnpasta,eine
          Zahnbürste und ein paar Süßigkeiten. Da hat Billy sich richtig gefreut. Er ist ein wahrer Enthusiast,
          interessiert sich für alles und jeden. Obwohl Billy noch so jung ist, steckt er voller Ideen und Tatendrang.
          An
          manchen Tagen will er Schweißer werden wie sein Vater, an anderen Minister, Polizist oder Autobauer.</p>

        <p class="quote-block font-size-xs font-color-highlighted">
          <span class="quotation"><strong>Urs fühlt sich schon an wie ein
            Familienmitglied.</strong> Das letzte Mal
          als er hier war, hatten wir
          eine tolle Zeit zusammen und wir haben seinen Besuch sehr genossen. Es ist etwas Besonderes, dass jemand den
          ganzen Weg von Deutschland zu uns kommt, nur um Zeit mit uns zu verbringen. Es ist eine ganz besondere
          Verbindung, die wir zu ihm aufgebaut haben.</span>
          <span class="quote-source text-color-neutral">Simbara, Billys Vater</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container container--image">
    <div class="row">
      <div class="col-xs-12">
        {{ content.slideshow }}
      </div>
    </div>
  </div>
  <div class="container container--content">
    <div class="row">
      <div class="col-xs-12 urs-content-container">
        <h3 class="font-size-s text-transform-none text-color-neutral">Die Menschen in Simbabwe besitzen kaum etwas. Ich
          denke, ohne World
          Vision würden dort keine festen Häuser
          und
          keine Schule stehen. Es gäbe keinen Trinkwasserbrunnen und nicht genug Nahrung.</h3>
        <p class="font-size-xs">Durch die wirtschaftliche Situation wurde das Geschäft von Billys Vater in MUSTAWE
          geschlossen und die
          Familie
          musste in das Heimatdorf des Vaters zurückkehren. World Vision hat dort viele Projekte gegründet. Das hilft
          der
          Gemeinschaft, sich zu entwickeln und <strong>die Spenden helfen dabei, dass Billy und seine Geschwister zur
            Schule gehen können.</strong></p>
        <p class="font-size-xs">Billys Vater hofft, dass er mit etwas Kapital seine Schweißerei wiederaufbauen kann.
          Dann können seine Kinder
          auf eine gute Schule und gute Universitäten gehen. <strong>Sein Wunsch ist es, dass sie danach ein gutes Leben
            führen können.</strong></p>
        <p class="font-size-xs">World Vision fördert Projekte wie z.B. die Rinderfarm. Damit können die Menschen im
          Dorf ihren
          Fleischkonsum
          decken, lernen zu handeln und das Fleisch gewinnbringend zu verkaufen. Dieses Jahr gibt's zehn Rinder.
          Nächstes Jahr sollen es schon hundert sein. Dann können alle aus der Community ihren Fleischkonsum decken. Und
          im Idealfall etwas verkaufen.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid container--image">
    <div class="row no-gutters">
      <div class="col-xs-12">
        {{ content.images.farm }}
      </div>
    </div>
  </div>
  <div class="container container--content">
    <div class="row">
      <div class="col-xs-12">
        <p class="font-size-xs last-child-with-margin">Dank meiner Hilfe kann Billy spielen und muss nicht arbeiten. Kinderarbeit ist in vielen
          afrikanischen Ländern ein großes Problem. Es gibt dort über 60 Millionen Kinder, die arbeiten. Bildung ist für
          diese Kinder eine Chance. Als Pate ermögliche ich Billy, dass er zur Schule gehen kann.</p>
      </div>
      <div class="col-xs-12">
        <h3 class="font-size-s text-transform-none text-color-neutral">Billys Schule ist ungefähr zehn Minuten zu Fuß
          von seinem Haus
          entfernt.</h3>
        <p class="font-size-xs">Eine alte Halle, vielleicht 5-7 Meter hoch. Wir haben uns sein Klassenzimmer angeguckt
          und das
          Unterrichtsmaterial. Die Kinder lernen Englisch und Mathe. Im Klassenzimmer stehen nur einfache Holzbänke.
          <strong>Aber zumindestens können die Kinder dank World Vision jetzt in die Schule gehen.</strong></p>
      </div>
    </div>
  </div>
  <div class="container-fluid container--image">
    <div class="row no-gutters">
      <div class="col-xs-12">
        {{ content.images.schule }}
      </div>
    </div>
  </div>
  <div class="container container--content">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="font-size-s text-transform-none text-color-neutral">Ich habe gesehen, was mit den Spenden über World
          Vision gemacht wird und weiß, dass vor Ort viel Geld gebraucht wird.</h3>
        <p class="font-size-xs">Das ist echt eine gute Sache, da sollte jeder mitmachen.</p>
        <p class="quote-block font-size-xs font-color-highlighted">
        <span class="quotation"><strong>Ich hoffe, dass unsere Freundschaft zu Urs weiter bestehen bleibt.</strong> Das
          hoffe
          ich auch für meinen kleinen Jungen, der seinen weißen Freund gerne behalten will. Als Urs das erste Mal hier
          herkam brachte er einen Brief mit, in dem ein Bild von ihm war. Mein Sohn schaut dieses Bild oft an und
          manchmal schläft er sogar damit ein.</span>
          <span class="quote-source text-color-neutral">Simbara, Billys Vater</span>
        </p>
        <p class="font-size-xs">
          <a class="font-color-neutral link-underlined" href="/kinderpatenschaft/informieren">Mehr über
            Kinderpatenschaften erfahren</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xs-12">
        {{ content.video }}
      </div>
    </div>
  </div>
  <div class="section-highlighted section-highlighted--primary">
    <div class="container container--content txt-content">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="font-size-m">Unterstützen auch Sie ein Patenkind in Simbabwe.</h3>
          <p class="font-size-xs">Dort herrscht große Not, es fehlt an Trinkwasser, Essen und medizinischer Versorgung.
            Ein Arzt muss hier 10.000
            Menschen behandeln. Selbst einfach behandelbare Erkrankungen wie Durchfall können tödlich enden.</p>
          <p class="font-size-xs">Dürreperioden plagen das Land und lassen das Vieh verenden. Verdorrte Felder bringen
            keine Ernte. Hunger ist
            die Folge. Zum Glück ist World Vision seit drei Jahren vor Ort und hilft den Menschen – kurzfristig mit
            Nahrungsmitteln und langfristig mit ihren Entwicklungsprojekten. Ich bin mir sicher: Mit meiner Patenschaft
            helfe ich dort, wo Hilfe am Nötigsten ist.</p>
        </div>
      </div>
    </div>
  </div>
  {{ content.child_section }}
  <div class="section-highlighted section-highlighted--primary">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{ content.social_shares }}
        </div>
      </div>
    </div>
  </div>
</div>
